{% if site.show_sign_petition_gov %}
{% include header-custom-en.html %}
<p>You will need NIA or bank identity or a data mailbox(datovа schránkа). <br/> We have prepared instructions for you: <a href="govcz.html#content">How to sign the petition on gov.cz?</a>. We will send this version to the Chamber of Deputies(Poslanecka sněmovna), but we kindly ask you to sign the petition on both websites.</p>
<p>Please make sure you clicked Podepsat petici and confirmed your signature with the Podepsat button on the newly opened tab, otherwise your vote will not be counted.</p>
{% endif %}
{% if site.show_sign_petition %}
<br/>
<a href="{{ site.petice.com }}" class="btn btn-caps btn-action" target="_blank">Sign the petition on petice.com</a>
{% endif %}
