{% if site.show_sign_petition_gov %}
{% include header-custom.html %}
<p style="font-size: 0.5em;">Vám bude potřeba NIA nebo bankovní identita nebo datová schránka. <br/> Připravili jsme pro vás návod: <a href="govcz.html#content">Jak podepsat petici na gov.cz?</a>. Tuto verzi pošleme do Poslanecké sněmovny, ale prosíme vás, abyste petici podepsali na obou webových stránkách.</p>
<p style="font-size: 0.5em;">Prosíme, ujistěte se, že jste klikli na Podepsat petici a potvrdili svůj podpis tlačítkem Podepsat v nově otevřené záložce, jinak váš hlas nebude započítán.</p>
{% endif %}
{% if site.show_sign_petition %}
<br/>
<a href="{{ site.petice.com }}" class="btn btn-caps" target="_blank">Podepsat petici na petice.com</a>
{% endif %}  
