{% if site.google_analytics %}
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.13.1/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.13.1/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyChn4jrK1jdNUr5le8mXzu6V59jJEYFEMs",
    authDomain: "jsmelide-ce2ce.firebaseapp.com",
    projectId: "jsmelide-ce2ce",
    storageBucket: "jsmelide-ce2ce.appspot.com",
    messagingSenderId: "818385493815",
    appId: "1:818385493815:web:bd2e0c3b63b3b5c85604b2",
    measurementId: "G-SQR45BHZLW"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>
{% endif %}
