{% if site.show_sign_petition_gov %}
{% include header-custom-en.html %}
<p>You will need NIA or bank identity or a data mailbox(datovа schránkа). <br/> We have prepared instructions for you: <a href="govcz.html#content">How to sign the petition on gov.cz?</a>.<br/> We will send this version to the Chamber of Deputies(Poslanecka sněmovna),<br/> but we kindly ask you to sign the petition on both websites.</p>
{% endif %}
{% if site.show_sign_petition %}
<br/><br/>
<a href="{{ site.petice.com }}" class="btn btn-caps btn-action" target="_blank">Sign the petition on petice.com</a>
<p class="page-header-secondary-text">Please, after filling out the form, don't forget to confirm your vote by clicking on the link in the email,<br/> otherwise it will not be counted.</p>
{% endif %}
