{% if site.show_sign_petition_gov %}
{% include header-custom-ru.html %}
<p style="font-size: 0.5em;">Вам понадобится NIA или bankovni identita или datovа schránkа. <br/> Мы подготовили для вас инструкцию: <a href="govcz.html#content">Как подписать петицию на gov.cz?</a>. Эту версию мы отправим в Палату депутатов (Poslanecku sněmovnu), но просим вас подписать петицию на обоих веб-сайтах.</p>
<p style="font-size: 0.5em;">Пожалуйста, убедитесь, что вы нажали Podepsat petici и подтвердили свою подпись кнопкой Podepsat на открывшейся вкладке, иначе ваш голос не будет учтен.</p>
{% endif %}
{% if site.show_sign_petition %}
<br/>
<a href="{{ site.petice.com }}" class="btn btn-caps" target="_blank">Подписать петицию на petice.com</a>
{% endif %}
