{% if site.show_sign_petition %}
<a href="{{ site.petice.com }}" class="btn btn-caps" target="_blank">Podepsat petici na petice.com</a>
{% endif %}  
{% if site.show_sign_petition_gov %}
<br/>
<p>Máte NIA nebo bankovní identitu nebo datovou schránku? <br/> Pokud ano, prosíme vás, abyste petici podepsali na obou webových stránkách.<br/> Tuto verzi pošleme do Poslanecké sněmovny.<br/> Viz také: <a href="govcz.html#content">Jak podepsat petici na gov.cz?</a></p>
{% include header-custom.html %}
{% endif %}