{% if site.show_sign_petition_gov %}
{% include header-custom.html %}
<p class="no-top-margin">Vám bude potřeba NIA nebo bankovní identita nebo datová schránka. <br/> Připravili jsme pro vás návod: <a href="govcz.html#content">Jak podepsat petici na gov.cz?</a>.<br/> Tuto verzi pošleme do Poslanecké sněmovny, ale prosíme vás, <br/>abyste petici podepsali na obou webových stránkách.</p>
{% endif %}
{% if site.show_sign_petition %}
<br/><br/>
<a href="{{ site.petice.com }}" class="btn btn-caps btn-action" target="_blank" id="sign_petice">Podepsat petici na petice.com</a>
<p class="page-header-secondary-text">Prosíme, po vyplnění petice nezapomeňte potvrdit svůj hlas kliknutím na odkaz v e-mailu,<br/> jinak nebude započítán.</p>
{% endif %}