{% if site.show_sign_petition_gov %}
{% include header-custom-ru.html %}
<p>Вам понадобится NIA или bankovni identita или datovа schránkа. <br/> Мы подготовили для вас инструкцию: <a href="govcz.html#content">Как подписать петицию на gov.cz?</a>.<br/> Эту версию мы отправим в Палату депутатов (Poslanecku sněmovnu),<br/> но просим вас подписать петицию на обоих веб-сайтах.</p>
{% endif %}
{% if site.show_sign_petition %}
<br/>
<a href="{{ site.petice.com }}" class="btn btn-caps btn-action" target="_blank" id="sign_petice">Подписать петицию на petice.com</a>
<p class="page-header-secondary-text">Пожалуйста, после заполнения петиции не забудьте подтвердить свой голос по ссылке в электронной почте,<br/> иначе он не будет учтен.</p>
{% endif %}
