// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #D7141A !default;
$header-heading-color-secondary: #11457E !default;
$header-bg-color: #fff !default;
$header-bg-color-secondary: #fff !default;

// Text
$section-headings-color: #11457E !default;
$body-text-color: #3d4447 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// Btn
$btn-color: rgba(255, 255, 255);
$btn-bg-color: #11457E;
$btn-border-color: rgba(255, 255, 255, 0.2);
$btn-hover-bg-color: #11467e9e;
$btn-hover-color: rgba(255, 255, 255, 0.8);
$btn-hover-border-color: rgba(255, 255, 255, 0.3);